
@font-face { font-family: 'SegoeWP';src: url('SegoeWP.eot');
src: url('SegoeWP.woff') format('woff'), url('SegoeWP.ttf') format('truetype'), url('SegoeWP.svg') format('svg');
font-weight: normal;font-style: normal; }

body {
    margin: 0; padding: 0; border:0;
    background: #EEE;
}
a, a:link, a:visited, a:hover {
    color: white;
}
.icon {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 0;
    left: 50%;
    margin-top: -150px;
    background: #EEE;
    text-align: center;
    border: solid 5px #FFF;
}
.icon h1 {
    position: relative;
    font-family: "SegoeWP" "SegoeUI" sans-serif;
    top: 50%;
    margin-top: -20px;
}
#graphite {
    background: #44F;
    top: 25%;
    margin-left: -350px;
}
#gdash {
    background: #ED0;
    top: 25%;
    margin-left: 50px;
}
#rhino {
    background: #4C4;
    top: 75%;
    margin-left: -350px;
}
#jargon {
    background: #F44;
    top:75%;
    margin-left: 50px;
}