
@font-face { font-family: 'SegoeWP';src: url('SegoeWP.eot');
src: url('SegoeWP.woff') format('woff'), url('SegoeWP.ttf') format('truetype'), url('SegoeWP.svg') format('svg');
font-weight: normal;font-style: normal; }

body {
    margin: 0; padding: 0; border:0;
    background: #EEE;
}
.icon {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 0;
    left: 50%;
    margin-top: -150px;
    background: #EEE;
    text-align: center;
    border: solid 5px #FFF;
}
.icon h1 {
    position: relative;
    font-family: "SegoeWP" "SegoeUI" sans-serif;
    text-shadow: 1px 1px 2px #FFF;
    top: 50%;
    margin-top: -20px;
}
#graphite {
    top: 25%;
    margin-left: -450px;
}
#gdash {
    top: 25%;
    margin-left: 150px;
}
#rhino {
    top: 75%;
    margin-left: -450px;
}
#jargon {
    top:75%;
    margin-left: 150px;
}