<!doctype html>
<html>
  <head>
    <title>Graphite Graphs</title>
    <link rel="stylesheet" href="/static/homepage.css" type="text/css" />
  </head>
  <body>
    <a href="http://graphite.directi.com/">
      <div id="graphite" class="icon" data-bg="#44F">
	<h1>Graphite</h1>
      </div>
    </a>
    <a href="http://gdash.graphite.directi.com">
      <div id="gdash" class="icon" data-bg="#ED0">
	<h1>gDash</h1>
      </div>
    </a>
    <a href="./rhino">
    <div id="rhino" class="icon" data-bg="#4C4">
      <h1>Rhino</h1>
    </div>
    </a>
    <a href="./jargon">
    <div id="jargon" class="icon" data-bg="#F44">
      <h1>Jargon</h1>
    </div>
    </a>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/homepage.js"></script>
  </body>
</html>
