<!doctype html>
<html>
  <head>
    <title>Jargon - directi.com</title>
    <link href="/static/jargon.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header><h1>Jargon</h1></header>
    <div id="graph-container"></div>
    <script src="/static/jargon.lib.js"></script>
    <script>
      var _graph = {
      title: "Boopathi Rajaa",
      desc: "This is also dynamically fetched",
      from: Date.UTC(2006, 0, 1),
      to: Date.UTC(2008, 7, 1)
      };
      var data=[];
      for(var i=0;i<100;i++) { data[i]=Math.random() + 4.5 * Math.random() * Math.random(); }
    </script>
    <script src="/static/jargon.js"></script>
  </body>
</html>
