<!doctype html>
<html>
  <head>
    <title>Jargon - directi.com</title>
    <link href="/static/jargon.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Jargon</h1>
      <div class="selector">
	<select class="element" data-level="1">
	  <option>One TWO WJLSfkljadklsfj kljasdfkl jakjfkajsdfkl</option>
	  <option>Two</option>
	  <option>Three</option>
	</select>
	<select class="element" data-level="2">
	  <option>asldkjfaD</option>
	  <option>asdfasDFSdfasdf</option>
	  <option>asd</option>
	  <option>asdf</option>
	</select>
      </div>
    </header>
    <div class="clearer"></div>
    <div id="graph-container"></div>
    <script src="/static/jargon.lib.js"></script>
    {% csrf_token %}
    <script>
      var _graph = {
      title: "Metric X",
      desc: "This is also dynamically fetched",
      from: parseInt({{ start }})*1000,
      to: parseInt({{ end }})*1000
      };
      var data={{ values }};
      //for(var i=0;i<100;i++) { data[i]=Math.random() + 4.5 * Math.random() * Math.random(); }
    </script>
    <script src="/static/jargon.js"></script>
  </body>
</html>
