<!doctype html>
<html>
  <head>
    <title>Jargon - directi.com</title>
    <link href="/static/jargon.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Jargon</h1>
      <div class="selector">
      </div>
      <img src="/static/images/ajax-loader.gif" id="loader" style="float:left"/>
    </header>
    <div class="clearer"></div>
    <div id="graph-container"></div>
    <script src="/static/jargon.lib.js"></script>
    {% csrf_token %}
    <script>
      var _graph = {
      title: "Metric X",
      desc: "Select a metric from the selectboxes",
      data: [],
      interval: 10,
      from: Date.UTC(2006,0,1),
      to: Date.UTC(2012,1,1)
      };
      var data=[];
      for(i=0;i<100;i++) data.push(Math.random());
    </script>
    <script src="/static/jargon.js"></script>
  </body>
</html>
